@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/* verse and song */
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}
/* end verse and song */

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:acronym"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* end letters */

/* language styling */
blockquote[xml|lang],
blockquote span[xml|lang]{
	font-style: italic;
}
/* end language styling */

/* table */
table{
	margin: 1em auto;
}

table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}
/* end table */

/* chapter header paragraphs */
section > header > p{
	font-style: italic;
	margin-left: 3em;
	text-align: initial;
}

header > p + p,
header > blockquote + p{
	text-indent: 1em;
}

#chapter-2-6 header b,
#chapter-3-1 header b,
#chapter-3-2 header b{
	font-style: normal;
}

#chapter-3-1 header > p:nth-of-type(3),
#chapter-3-1 header > p:nth-of-type(5){
	font-style: normal;
	margin: .5em auto;
	margin-left: 0;
	text-indent: 0;
}
/* end chapter header paragraphs */

/* centered blockquote treatment */
#chapter-1-2 blockquote:first-of-type p,
#chapter-1-3 blockquote:first-of-type p,
#chapter-3-4 blockquote header p,
#chapter-3-5 blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#chapter-3-2 blockquote:first-of-type p{
	text-align: center;
	text-indent: 0;
}

#chapter-1-2 blockquote:first-of-type p:first-child,
#chapter-3-2 blockquote:first-of-type p:first-child,
#chapter-3-4 blockquote header p{
	font-size: larger;
}
/* end centered blockquote treatment */

/* encyclopedia blockquotes */
blockquote.nospace{
	margin: 0;
}

blockquote.nospace p{
	text-indent: 1em;
}

#chapter-1-4 blockquote:nth-of-type(3) p:first-child{
	text-indent: 0;
}

#chapter-1-4 blockquote:nth-of-type(4) + p{
	margin-top: 1em;
}

#chapter-1-4 blockquote:nth-of-type(5){
	margin-left: 0;
}

#chapter-1-4 blockquote:nth-of-type(5) p{
	text-indent: 1em;
}
/* end encyclopedia blockquotes */
